#homePage-container{
    background-color: #212121;
}
 #homePage-paper{
     background-color: #212121;
     color: #ba8434;
 }

 #homePage-box{
     background-color: #212121;
     color: #ba8434;
     margin-bottom: 1.5rem;
 }