.programPage-container{
    padding-top: 8rem;
    padding-bottom: 6rem;
    position: relative;
    margin-top: 15rem;
    max-width: md;
}

#programPage-div{
    background-color: #424242;
}

#programPage-iconButton{
    color: #ba8434;
}

