.wholeDialog {
  min-width: 520px;
}
.canvasContainer {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid grey;
  width: 80%;
  text-align: center;
}
.cinemaBox {
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2;
  border: 1px solid grey;
  margin-top: 1rem;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.rowContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.seatCheckbox {
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 2rem;
}
