.wholeDialog {
  min-width: 520px;
}
.canvasContainer {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 2px solid grey;
  width: 80%;
  text-align: center;
}
.cinemaBox {
  padding: 2;
  border: 1px solid grey;
  margin-top: 1rem;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
.rowContaienr {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.seatCheckbox {
  height: 2rem;
}
