#signUp-container{
    background-color: antiquewhite;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

#signUp-button{
    background-color: #ba8434;
}