.footer-row{
    width: 100%;
    text-align: center;
}

.footer-main{
    background-color: #424242;
    color: #ba8434;
    position: relative;
    width: 100%;
    padding-top: 1rem;
}

.footer-link{
    color: #ba8434;
    font-size: 16px;
    text-decoration: none;
}